body {
    width: 80%;
    margin: auto;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: 'Alexandria';
}

.quiz-container {
    margin-top: 3em;
    background: var(--secondary-color);
    padding: 2em 3em;
    border-radius: 1em;
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.5);
}

.question {
    display: none;
}

.question.active {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

details {
    background: var(--main-bg-color);
    border-radius: 0.5em;
    margin-top: 1em;
}

button {
    font-family: 'Alexandria';
    border-radius: 0.3em;
    border: none;
    background-color: var(--main-font-color);
    filter: drop-shadow(0.15em 0.15em 0.2em);
    transition: transform .5s;
}

button:hover {
    transform: scale(1.05);
}

.question-group {
    margin-bottom: 2em;
}

input {
    font-family: 'Alexandria';
}

option {
    font-family: 'Alexandria';
}