:root {
    --main-bg-color: darkslategrey;
    --main-font-color: honeydew;
    --highlight-color: #ff6f61;
    --secondary-color: #1f1f1f;
    --tertiary-color: #333;
    --body-width: 80%;
}

body {
    width: var(--body-width);
    margin: auto;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: 'Alexandria';
}

h1 {
    text-align: center;
    margin-bottom: 0.1em;
}

hr {
    border: 0;
    height: 0.2em;
    background-color: var(--tertiary-color);
    margin-bottom: 1em;
}

/* Subpage Links Styling */
ul.subpages {
    list-style: none;
    padding: 0;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    gap: 2em;
}

ul.subpages li {
    background: var(--secondary-color);
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    transition: transform 0.2s, background 0.2s;
}

ul.subpages li:hover {
    background: var(--tertiary-color);
    transform: translateX(1rem);
}

ul.subpages li a {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 1.15rem;
    display: block;
}

ul.subpages li a::before {
    content: "➤ ";
    color: var(--highlight-color);
    margin-right: 0.5rem;
}

@media (max-width: 600px) {
    ul.subpages {
        grid-template-columns: 1fr;
        /* single column on small screens */
    }

    nav a::after {
        height: 0;
    }
}

@media (max-width: 1000px) {
    nav a {
        margin: 2rem;
    }

    nav a::after {
        height: 0;
    }
}